/NettyEchoServerDemo/nbproject/private/
/NettyEchoServerDemo/build/
/NettyEchoClientDemo/nbproject/private/
/NettyEchoClientDemo/build/
/NettyJavaSerializationDemo/nbproject/private/
/NettyJavaSerializationClientDemo/nbproject/private/
/NettyJavaSerializationServerDemo/nbproject/private/
/NettyJavaSerializationServerDemo/build/
/NettyJavaSerializationClientDemo/build/
/NettyJavaSerializationUtil/nbproject/private/
/Util/nbproject/private/
/Util/build/
/NettyHttpFileServerDemo/nbproject/private/
/NettyHttpFileServerDemo/build/
/NettyHTTP_XMLDemo/nbproject/private/
/TEST
/NettyHTTP_XMLDemo/build/
/NettyHTTP_XMLDemo/dist/
/NettyJBossMarshallingServerDemo/nbproject/private/
/NettyJBossMarshallingClientDemo/nbproject/private/
/NettyJBossMarshallingServerDemo/build/
/Util/dist/
/NettyJBossMarshallingClientDemo/build/
/NettyPrivateProtocolServerDeom/nbproject/private/
/NettyPrivateProtocolClientDemo/nbproject/private/
/NettyPrivateProtocolServerDemo/nbproject/private/
/NettyPrivateProtocolServerDemo/build/
/NettyPrivateProtocolClientDemo/build/